.cio-pia-suggested-questions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
}

@media (max-width: 768px) {
  .cio-pia-suggested-questions-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
    padding: 4px 0px;
    width: 100%;
    max-width: 85vw;

    scroll-behavior: smooth;
    scrollbar-width: none;
  }
}
