# Pertaining to Development
node_modules
.vscode
.env*

# Pertaining to Building/Deployment
dist
lib
docs
coverage
storybook-static

.DS_Store
*storybook.log

# React compat fixtures
test/react-compat/*/node_modules
test/react-compat/*/dist
test/react-compat/*/package-lock.json
constructorio-ui-pia.tgz
