.cio-asa-pdp-suggested-questions-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: start;
}

.cio-asa-pdp-suggested-questions-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 8px;

  scrollbar-width: thin;
  -ms-overflow-style: none;
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cio-asa-pdp-suggested-questions-scroll::-webkit-scrollbar {
  display: none;
}

.cio-asa-pdp-suggested-question-element {
  background: #ffffff;
  border: 1px solid #dee0e3;
  border-radius: 0;
  padding: 4px 12px 4px 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #14151a;
  cursor: pointer;
  box-shadow:
    0px 0.4px 1px 0px rgba(18, 18, 105, 0.13),
    0px 0.9px 6px 0px rgba(18, 18, 105, 0.05),
    0px 1px 3px 0px rgba(18, 18, 105, 0.05);
  gap: 2px;
}

.cio-asa-pdp-suggested-question-icon {
  display: flex;
  padding: 4px;
}
