.cio-pia-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #E7E5E4;
  border-radius: 12px;
  background-color: var(--cio-pia-container-background);
}

.cio-pia-title {
  color: #14151A;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px;
  border-bottom: 1px solid #E7E5E4;
}

.cio-pia-answer-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cio-pia-disclaimer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-align: start;
  color: #78716C;
}

.cio-pia-learn-more {
  color: inherit;
}

.cio-pia-powered-by {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.cio-pia-powered-by-text {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: -0.5%;
  color: rgba(15, 19, 36, 0.6);
}
