.cio-pia-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cio-pia-title {
  color: #14151a;
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
}

.cio-pia-answer-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cio-pia-disclaimer {
  font-size: 12px;
  font-weight: 400;
  text-align: start;
  color: rgba(15, 19, 36, 0.7);
}

.cio-pia-learn-more {
  color: inherit;
}

.cio-pia-checkout-container {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}
