.cio-asa-pdp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cio-asa-pdp-title {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
}

.cio-asa-pdp-disclaimer {
  font-size: 12px;
  font-weight: 400;
  text-align: start;
  color: rgba(15, 19, 36, 0.7);
}

.cio-asa-pdp-learn-more {
  color: inherit;
}
