.cio-asa-pdp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cio-asa-pdp-title {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
}

.cio-asa-pdp-answer-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cio-asa-pdp-disclaimer {
  font-size: 12px;
  font-weight: 400;
  text-align: start;
  color: rgba(15, 19, 36, 0.7);
}

.cio-asa-pdp-learn-more {
  color: inherit;
}
